@model GameForum.ViewModels.Forum.PostDetailViewlModel

<h1 class="text-center">Created: @Model.Created by @Model.AuthorName</h1>

<div class="card" style="width: 100%">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
    </div>
</div>
@if(Model.Replies.Any())
{
<div class="container d-inline-block">
    <div class="col-md-12">
        @foreach (var reply in Model.Replies)
        {
            <div class="row align-items-md-center">
                <div class="card card-reply" style="width: 80%; margin-top: 25px; margin-left: 8vw;">
                    <div class="card-body">
                        <h5 class="card-title">@reply.AuthorName</h5>
                        <h5 class="card-title float-right reply-created" style="font-size: 12px">Created: @reply.Created</h5>
                        <p class="card-text">@reply.Content</p>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
}
else
{
    <h3>There are no replies available for this post</h3>
}

<a asp-controller="Post" class="btn btn-dark" asp-action="Reply" asp-route-id="@Model.ID">Add Reply</a>
