@model GameForum.ViewModels.Forum.ForumTopicViewModel

    <div class="container d-inline-flex">
        <h1 style="margin-bottom: 10px;">Welcome to @Model.ForumTitle Forum !!</h1>

        <form asp-controller="Home" asp-action="Search" method="post">

            <div class="d-inline-flex">
                <div class="input-group-prepend" style="margin-left: 5vw;">
                    <button asp-route-id="@Model.ForumID" class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
                </div>
                <input asp-for="SearchQuery" type="text" placeholder="Search..." class="form-control" aria-describedby="button-addon1">
                <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.ForumID" class="btn btn-primary" style="margin-left: 5vw;">
                    Create post
                </a>
            </div>

        </form>



    </div>




@if (Model.Posts.Any())
{
    <div class="container">
        <table class="table table-hover">
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            @post.AuthorName
                        </td>
                        <td>
                            <a asp-controller="Post" asp-action="Index" asp-route-id="@post.ID">@post.Title</a>
                        </td>
                        <td>
                            @post.Created
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h1>It looks like there are no posts at @Model.ForumTitle Forum yet :(</h1>
}
