@model GameForum.ViewModels.Forum.ForumTopicViewModel

<h1>Welcome to @Model.ForumTitle Forum !!</h1>

@if (Model.Posts.Any())
{
    <div class="container">
        <table class="table table-hover">
            <tbody>
                @foreach (var post in Model.Posts)
                {
                <tr>
                    <td>
                        @post.AuthorName
                    </td>
                    <td>
                        @post.Title
                    </td>
                    <td>
                        @post.Content
                    </td>
                    <td>
                        @post.Created
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h1>It looks like there are no posts at @Model.ForumTitle Forum yet :(</h1>
}
